# Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions.
# And before you ask: It's BSD licensed!
flask==1.0.2

# Flask-SQLAlchemy is an extension for Flask that adds support for SQLAlchemy to your application.
# It requires SQLAlchemy 0.8 or higher.
# It aims to simplify using SQLAlchemy with Flask by providing useful defaults 
# and extra helpers that make it easier to accomplish common tasks.
flask-sqlalchemy==2.3.2

gunicorn==19.9.0

flask-migrate==2.2.1

# Flask-RESTful is an extension for Flask that adds support for quickly building REST APIs
# Homepage: https://flask-restful.readthedocs.io/en/latest/
flask-restful==0.3.6

# Flask-Bcrypt is a Flask extension that provides bcrypt hashing utilities for your application.
# Homepage: https://flask-bcrypt.readthedocs.io/en/latest/
flask-bcrypt==0.7.1

# Homepage: https://flask-jwt.readthedocs.io/en/latest/
flask-jwt==0.3.2
