# Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions.
# And before you ask: It's BSD licensed!
flask==1.0.2

# Flask-SQLAlchemy is an extension for Flask that adds support for SQLAlchemy to your application.
# It requires SQLAlchemy 0.8 or higher.
# It aims to simplify using SQLAlchemy with Flask by providing useful defaults 
# and extra helpers that make it easier to accomplish common tasks.
flask-sqlalchemy==2.3.2

gunicorn==19.9.0

flask-migrate==2.2.1